<div class="container-fluid" id="location">
    <!--I know there is a way to loop through these to optimize the page. I'll get back to it later once the main display is complete-->
    <div class="row">
        <div class="d-none d-lg-block col-sm-2"></div>
        <div class="col-sm">
            <div class="row">
                <img class="mx-auto d-block" src="./assets/Bridesmaids.png"  width="367" id="bridesmaids-image">
            </div>
            <div class="row">
                <div class="mx-auto d-block" id="location-underline"></div>
            </div><br>
            <div class="row">
                <h1 class="mx-auto d-block">MARISOL HERNANDEZ<br><span id="pink-text">MAID OF HONOR</span><br>
                    FATIMA ELIZONDO<br><span id="pink-text">MAID OF HONOR</span><br>ALEXA HERNANDEZ<br>ISABELLA HERNANDEZ
                    <br>SUSANA HERNANDEZ<br>CHAREI MACE<br>CAELEI MCKAY<br>CIERSTEI ROSENVALL<br>MELISSA TORRES
                </h1>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
            <img class="mx-auto d-block" src="./assets/Groomsmen.png"  width="300" id="groomsmen-image">
            </div>
            <div class="row">
                <div class="mx-auto d-block" id="location-underline"></div>
            </div><br>
            <div class="row">
                <h1 class="mx-auto d-block">GAVIN ROSENVALL<br><span id="pink-text">BEST MAN</span><br>
                CAMERON WOOLLEY<br><span id="pink-text">BEST MAN</span><br>DUSTIN HAMP<br>BRADEN LATIMER
                <br>TREVYN MACE<br>TRISTAN MCKAY<br>RYAN SHURTZ<br>EMMIT VASQUEZ
                </h1>
            </div>
        </div>
        <div class="d-none d-lg-block col-sm-2"></div>
    </div>
    <br><br><br><br>
</div>
