<div class="container-fluid" id="location">
    <br><br><br><br>
    <div class="row">
        <h1 class="mx-auto d-block">AMAZON</h1>
    </div><br>
    <div class="row">
        <button class="mx-auto d-block" id="pink-button">SEE REGISTRY</button>
    </div><br><br><br>
    <div class="row">
        <div class="mx-auto d-block" id="registry-underline">
        </div>
    </div><br><br>
    <div class="row">
        <h1 class="mx-auto d-block">TARGET</h1>
    </div><br>
    <div class="row">
        <button class="mx-auto d-block" id="pink-button">SEE REGISTRY</button>
    </div>
    <br><br><br><br>
</div>
