<div class="container-fluid" id="location">
    <br><br><br><br>
    <div class="row">
        <h1 class="mx-auto d-block">AMAZON</h1>
    </div><br>
    <div class="row">
        <button class="mx-auto d-block" id="pink-button" 
        (click)="goToLink('https://www.amazon.com/wedding/spencer-rosenvall-tania-hernandez-sandy-april-2020/registry/3RW3JX1U4XUPM')"
        >SEE REGISTRY</button>
    </div><br><br><br>
    <div class="row">
        <div class="mx-auto d-block" id="registry-underline">
        </div>
    </div><br><br>
    <div class="row">
        <h1 class="mx-auto d-block">TARGET</h1>
    </div><br>
    <div class="row">
        <button class="mx-auto d-block" id="pink-button"
        (click)="goToLink('https://www.target.com/')"
        >NOT READY</button>
    </div>
    <br><br><br><br>
</div>
