<p>rsvp works!</p>
<div class="container-fluid" id="location">
    <div class="row">
      <div class="col-sm-5" id="rsvp">
        <div class="row" id="rsvp-label">
          <div class="col-sm">
            <h2>RSVP Form</h2>
          </div>
        </div>
        <div class="row">
          <form action="!!!!!TODO!!!!!" id="rsvp-form">
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname"><br><br>
            <input type="submit" value="Submit">
          </form> 
        </div>
        <br>
        <div class="row">
          <div class="col-sm" id="disclaimer">
          <p>Please RSVP every individual guest that will be attending.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-5">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
      </div>
    </div>
  </div>