<div class="container" id="rsvp">
  <form (ngSubmit)="onSubmit()">
  <br><br>
  <div class="row-fluid">
    <img class="mx-auto d-block" src="./assets/Rsvp.png"  width="175" id="location-image">
  </div><br>
  <div class="row">
    <div class="col-sm-3">
        <h1 style="padding-top: 18pt;">FIRST NAME</h1>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="rsvp-form"
          placeholder="Enter your first name..."
          required [(ngModel)]="firstValue" name="firstName">
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-3">
          <h1 style="padding-top: 18pt;">LAST NAME</h1>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="rsvp-form"
          placeholder="Enter your last name..."
          required [(ngModel)]="lastValue" name="lastName">
        </div>
      </div><br><br><br>
      <div class="row">
        <button type="submit" class="mx-auto d-block" id="pink-button">SUBMIT</button>
    </div><br><br><br>
  </form>
    <div class="row">
      <h1 class="mx-auto d-block">PLEASE RSVP EVERY INDIVIDUAL<br>GUEST THAT WILL BE ATTENDING</h1>
      <!-- <p *ngFor="let guest of guests | async">{{guest.content}}</p> To be added later for reporting -->
    </div><br><br><br>
    <div class="modal" id="formModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="mx-auto d-block">{{modalMessage}}</h1>
          </div>
        </div>
      </div>
    </div>
</div><br><br><br><br><br><br>
