/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: RomanAllPetiteCaps;
    src: url("./assets/MrsEavesOT-RomanAllPetiteCaps.otf") format("opentype");
}
@media screen and (max-width: 720px) {
    #pink-button{
        width: 300px;
    }
    #registry-underline{
        width: 300px;
    }
    #pink-button{
        width: 300px;
    }
    .form-control{
        width: 25px;
    }
}
body{
    background-image: url("./assets/RSVP_Background.png");
    background-position-y: -300px;
}
h1{
    font-size: 50px;
    font-family: RomanAllPetiteCaps;
    text-align: center;
    line-height: 75%;
}
#pink-text{
    font-size: 50px;
    font-family: RomanAllPetiteCaps;
    text-align: center;
    color: #F7CFD8;
}
#pink-button{
  background-color: #F7CFD8;
  border: none;
  color: black;
  padding: 15px 0px 20px;
  font-size: 50px;
  font-family: RomanAllPetiteCaps;
  cursor: pointer;
  width: 500px;
}
#pink-button:hover{
    background-color: rgb(247, 183, 197);
}
#location{
    background-color: white;
}
#location-underline{
    border: solid;
    border-color: #F7CFD8;
    width: 400px;
    border-width: 4px;
}
.outer-wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.map-wrapper {
    height: 500px;
}
agm-map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#details{
    background-color: #F7CFD8;
}
#details-underline{
    border: solid;
    border-color: white;
    width: 400px;
    border-width: 4px;
}
#rsvp{
    background-color: white;
    border: solid;
    border-color: #F7CFD8;
    border-width: 50px;
}
#rsvp-label{
    text-align: center;
    background-color: #ffc2b6;
}
input[type="text"],
select.form-control {
  font-family: RomanAllPetiteCaps;
  font-size: 25pt;
  background: transparent;
  border: none;
  border-bottom: 4px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
}
input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 4px solid #F7CFD8;
}
.form-control {
    padding: 25px 0 0 0;
}
.modal-open {
    padding-right: 0px;
}
#disclaimer{
    text-align: center;
}
#registry-underline{
    border: solid;
    border-color: #F7CFD8;
    width: 1000pt;
    border-width: 4px;
}
#bridesmaids-image
{
    padding-top: 75px;
}
#groomsmen-image{
    padding-top: 75px;
}
.navbar-custom {
    background-color: white;
    min-height: 100px;
    border-bottom-style: solid;
    border-color: #F7CFD8;
    border-width: 8px;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-family: RomanAllPetiteCaps;
    font-size: 30pt;
    padding-left:34px;
    padding-right:34px;
    text-align: center;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #F7CFD8;
}

