<div class="container-fluid" id="location">
<br><br><br><br>
  <div class="row">
    <img class="mx-auto d-block" src="./assets/Location.png"  width="300" id="location-image">
  </div>
  <div class="row">
    <div class="mx-auto d-block" id="location-underline">
    </div>
  </div><br>
  <div class="row">
    <h1 class="mx-auto d-block">NOAH'S EVENT CENTER<br/>322 WEST 11000 SOUTH<br/>SOUTH JORDAN &#183; UTAH</h1>
  </div><br><br><br>
  <div class="row">
    <h1 class="mx-auto d-block">THIS WILL BE AN INTERACTIVE MAP</h1>
  </div><br><br><br><Br>
</div>
<div class="container-fluid" id ="details">
  <br><br><br><br>
  <div class="row">
    <img class="mx-auto d-block" src="./assets/Details.png"  width="300" id="location-image">
  </div>
  <div class="row">
    <div class="mx-auto d-block" id="details-underline">
    </div>
  </div><br><br>
  <div class="row">
    <h1 class="mx-auto d-block">SEATING ASSIGNMENTS WILL BE PROVIDED AT THE RECEPTION AND CEREMONY<br>AN OPEN BAR WILL BE PROVIDED FOR GUESTS AGE 21+ WITH A VALID DRIVER'S LICENSE</h1>
  </div><br><br><br><br><br><br>
</div>